@font-face {
    font-family: opensans;
    src: url("../fonts/opensans.ttf");
}

/*div { outline: 1px solid red; }*/

body {
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-family: opensans;
}

.form_
{
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 1em;
}

.submit-box {
    padding-left: 1em;
    padding-right: 1em;
}

.serial_area {
    text-align: center;
    resize: none;
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid #000000;
    padding: 10px;
}

.search {
    max-width: 20%;
    min-width: 150px;
}

.deviceContent {
    display: flex;
    flex-direction: column;
    padding: 1em;
    overflow-x: auto;
}

.device-row {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) repeat(4, minmax(60px, 1fr));
    gap: 0.5em;
    padding: 0.5em 0;
    border-bottom: 1px solid #303c3f;
}

.device-row.header {
    font-weight: bold;
    border-bottom: 2px solid #000;
}

.device-row span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}

.device-name {
    cursor: pointer;
}

.device-details {
    display: none;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 1em;
}

.device-details p {
    margin: 0;
}

.device-details.show {
    display: block;
}